@font-face {
    font-family: "Kode Mono 400";
    font-weight: 400;
    src: url('./assets/fonts/KodeMono-Regular.woff2');
}

@font-face {
    font-family: "Kode Mono 600";
    font-weight: 600;
    src: url('./assets/fonts/KodeMono-Medium.woff2');
}

.kode-mono-600 {
  font-family: "Kode Mono 600", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.kode-mono-400 {
    font-family: "Kode Mono 400", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin-top: 3rem;
    margin-right: 5rem;
    font-family: "Kode Mono 400", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    background-color: #181818;
}

.margin80 {
    margin-left: 80px;
}

h1 {
    font-size: 30pt;
    user-select: none;
    color: white;
}

#curr_time {
    color: rgb(63, 63, 63);
    user-select: none;
}

label {
    color: white;
}

input {
    background-color: #181818;
    color: white;
    border: none;
    padding: 8px;
    outline: none;
}

input:focus {
    outline: 2px solid white;
}

#distance, #running_time, #custom_date {
    font-family: "Kode Mono 400", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    user-select: all;
}

#running_time {
    width: 6rem;
    margin-right: 1.5rem;
}

#undo_btn {
    margin-left: 1rem;
}

#enter_btn, #undo_btn {
    font-family: "Kode Mono 400", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: rgb(0, 61, 61);
    color: aqua;
}

#enter_btn, #undo_btn {
    border: 1px solid rgba(0, 255, 255, 0);
    height: 2rem;
}

#enter_btn:hover, #undo_btn:hover {
    border: 1px solid aqua;
}

#enter_btn:active {
    background-color: rgb(178, 252, 178);
    color: rgb(0, 36, 0);
    border: 1px solid rgb(0, 36, 0);
}

#undo_btn:active {
    background-color: rgb(252, 178, 178);
    color: darkred;
    border: 1px solid darkred;
}


#myChart {
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000000;
    background-color: rgb(40, 40, 40);
}


#date_picker {
    display: inline;
    padding: 20px 80px 20px 10px;
}

#last_activity {
    color: rgb(187, 187, 187);
    margin-top: 2.5rem;
}

#last_act_dist {
    color: black;
    font-family: "Kode Mono 600", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#last_act_date {
    color: rgb(95, 95, 95);
}

#custom_date {
    border: none;
}

#pr_table td {
    vertical-align: middle;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.pr_cell1 {
    width: 32%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pr_cell2 {
    text-align: right;
    box-sizing: border-box;
    width: 30%;
    height: 25px;
    padding: 0px;
}

.txtBoxIn {
    text-align: right;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 12pt;
    background-color: #00000000;
    padding-right: 10px;
    font-family: "Kode Mono 600", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 12pt;
    font-style: normal;
}

.txtBoxIn:focus {
    outline: none;
    border: none;
}

.txtBoxIn:focus::placeholder {
    color: rgb(105, 105, 105);
}

.txtBoxIn::placeholder {
    padding-right: 10px;
    color: white;
    font-family: "Kode Mono 600", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 12pt;
    font-style: normal;
}

.txtBoxIn:hover {
    cursor: pointer;
}

.txtBoxIn:hover::placeholder {
    padding-right: 15px;
}

.pr_cell2:hover {
    background-color: rgba(255, 255, 255, 0.034);
}

.pr_cell3 {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pr_cell1, .pr_cell2, .pr_cell3 {
    vertical-align: middle;
}

#pr_table {
    color: #d3d3d3;
    border-collapse: collapse;
}

#pr_table tr:hover {
    background-color: rgb(43, 43, 43);
}

.left_cell1 {
    color: rgb(82, 82, 82);
    width: 10%;
    padding-left: 15px;
}

.left_cell2 {
    color: white;
    text-align: right;
    width: 20%;

}

.left_cell3 {
    padding-left: 20px;
    text-align: right;
    color: rgb(173, 173, 173);
}

.left_cell4 {
    padding-left: 40px;
    text-align: left;
    color: rgb(104, 104, 104);
}

#left_table {
    border-collapse: collapse;
    display: table;
}

#left_table td {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

#left_table tr:hover {
    background-color: rgb(43, 43, 43);
}

.grayIcon::-webkit-calendar-picker-indicator {
    filter: invert(20%);
}

.blackIcon::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.greenText {
    color: rgb(29, 192, 29);
}

.redText {
    color: rgb(255, 121, 121);
}

.orangeText {
    color: orange;
}

#custom_date, #custom_date_label {
    color: #333333;
}

#container {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: rgb(40, 40, 40);
    border-radius: 15px;
    display: flex;
    overflow: visible;
    width: 100%;
    height: 230px;
   
    box-shadow: 0 0 20px #000000;
}

.column {
    float: left;
}

.data_column {
    text-align: right;
    color: white;
}

.text_column {
    color: gray;
}

table {
    width: 100%;
}

td {
    padding-bottom: 15px;
}

#big_left {
    width: 72.5%;
    margin-right: 15px;
}

#big_right {
    width: 25%;
    font-size: 9pt;
    margin-top: 35px;
    margin-left: 30px;
}

#left, #right {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 1.5%;
}

#left {
    width: 50%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    overflow-y: scroll;
}

#right {
    width: 50%;
    margin-right: 1.5%;
    overflow-y: scroll;
}

#left_chart {
    width: 81%;
    padding-right: 5%;
    height: 420px;
}

#right_chart {
    font-size: 9pt;
    padding-top: 2.5%;
    width: 25%;
}

#lower_container {
    display: flex; 
    margin-top: 1rem;
    height: 440px;
}


#yearSelect {
    font-size: 9pt;
    margin-top: 25px;
    width: 100px;
    color: rgb(218, 218, 218);
    padding: 10px;
    background-color: #252525;
    border: none;
}

#yearSelect:focus {
    outline: 2px solid white;
}

#radioSelect {
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 100%;
    display: flex;
}

#timeDistanceSelect {
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 100%;
    display: flex;
}

#thisweek, #weekly, #monthly, #distanceOption, #timeOption {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    float: left;
}

select {
    text-align: center;
}

p, li {
    color:rgb(211, 211, 211);
}

.unselected {
    font-weight: 400;
    color: rgb(161, 161, 161);
    background-color: #ffffff00;
}

.unselected:hover {
    font-weight: 400;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.selected {
    background-color: rgb(50, 42, 99);
    color: white;
    font-weight: 600;
}

.selected2 {
    background-color: rgb(139, 46, 139);
    color: white;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 1px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7a7a7a;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.692);
}
  
/* Modal Content */
.modal-content {
    background-color: #1d1d1d;
    color: white;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
}

.modal-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close {
    color: #6b6b6b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#button_menu {
    text-align: center;
}

#act_undo, #pr_undo, #input_pr_btn {
    border: none;
    padding: 12px;
}

#act_undo {
    font-family: "Kode Mono 400", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: rgb(0, 61, 61);
    color: aqua;
    margin-right: 30px;
}

#pr_undo, #input_pr_btn {
    font-family: "Kode Mono 400", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: rgb(0, 61, 61);
    color: aqua;
}

#act_undo:hover, #pr_undo:hover, #input_pr_btn:hover {
    background-color: rgb(0, 70, 70);
}

#act_undo:active, #pr_undo:active, #input_pr_btn:active {
    background-color: rgb(0, 80, 80);
}